@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col-3">
            <div><button type="button" class="btn btn-outline-success mx-2">作業1</button></div>
            <div><button type="button" class="btn btn-outline-danger mx-2">作業2</button></div>
            <div><button type="button" class="btn btn-outline-warning mx-2">作業3</button></div>
            <div><button type="button" class="btn btn-outline-info mx-2">作業4</button></div>
        </div>
        <div class="col-9"></div>
    </div>
</div>
